# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [6]:
pokemon.isnull().sum() #los vac√≠os son solo en los pokemon sin tipo secundario

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [7]:
# Your code here:

pokemon.groupby('Legendary').agg(['mean','std'])

                    #                   Total                     HP  \
                 mean         std        mean         std       mean
Legendary
False      353.315646  208.590419  417.213605  106.760417  67.182313
True       470.215385  173.651095  637.384615   60.937389  92.738462

                          Attack               Defense                Sp. Atk  \
                 std        mean        std       mean        std        mean
Legendary
False      24.808849   75.669388  30.490153  71.559184  30.408194   68.454422
True       21.722164  116.676923  30.348037  99.661538  28.255131  122.184615

                         Sp. Def                  Speed            Generation  \
                 std        mean        std        mean        std       mean
Legendary
False      29.091705   68.892517  25.669310   65.455782  27.843038   3.284354
True       31.104608  105.938462  28.827004  100.184615  22.952323   3.769231


                std
Legendary
False      1.673471
True       1.455262

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [8]:
# Your code here:
legendarios = pokemon[pokemon['Legendary']==True] #legendarios y no legendarios
noL= pokemon[pokemon['Legendary']==False]

In [9]:
#importo t de student
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind, ttest_rel

In [10]:
#funci√≥n del bonus del lab de ayer
def t_test_features2(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    
    HP = ttest_ind(s1['HP'], s2['HP'], equal_var=False )
    atk = ttest_ind(s1['Attack'], s2['Attack'], equal_var=False)
    Def = ttest_ind(s1['Defense'], s2['Defense'], equal_var=False)
    sp_atk = ttest_ind(s1['Sp. Atk'], s2['Sp. Atk'], equal_var=False)
    sp_def = ttest_ind(s1['Sp. Def'], s2['Sp. Def'], equal_var=False)
    speed = ttest_ind(s1['Speed'], s2['Speed'] ,equal_var=False )
    total = ttest_ind(s1['Total'], s2['Total'], equal_var=False)
    
    results = {'hp': HP[1], 'Attack':atk[1], 'Defense':Def[1], 'Sp. Atk':sp_atk[1], 'Sp. Def':sp_def[1], 'speed':speed[1], 'Total':total[1]}
    
    return results

In [11]:
t_test_features2(legendarios,noL)

{'hp': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}

What do you conclude from this test? Write your conclusions below.

# Your conclusions here:

Como los valores de p son cercanos a cero rechazamos H0

Para t de student:

ùêª0:ùúá=0 (media de las diferencias), (no hay diferencia significativa entre las muestras)

ùêª1:ùúá‚â†0 (existe una diferencia significativa entre las muestras)

como p es casi cero rechazamos H0 por lo tanto legendario difieren mucho de los normales

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [16]:
# Your code here:

tipos = pokemon['Type 1'].value_counts()
tipos

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [51]:
# Your code here:
agua=pokemon[pokemon['Type 1']== 'Water']

In [58]:
#hago data frames por tipo
no_agua = pokemon[pokemon["Type 1"]!="Water"]
no_agua

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [15]:
pokemon.groupby('Type 1')[['Total','HP','Attack', 'Defense', 'Sp. Atk', 'Sp. Def']].agg(['mean', 'std'])

               Total                     HP                 Attack             \
                mean         std       mean        std        mean        std
Type 1
Bug       378.927536  117.875223  56.884058  16.328914   70.971014  37.040904
Dark      445.741935  109.126217  66.806452  21.078297   88.387097  25.774247
Dragon    550.531250  146.267538  83.312500  23.795415  112.125000  33.742622
Electric  443.409091  105.721952  59.795455  17.306511   69.090909  23.764169
Fairy     413.176471  123.781680  74.117647  23.587291   61.529412  29.751298
Fighting  416.444444  102.464378  69.851852  25.852695   96.777778  28.290163
Fire      458.076923  109.760496  69.903846  19.404123   84.769231  28.769275
Flying    485.000000  161.400124  70.750000  20.694202   78.750000  37.500000
Ghost     439.562500  110.072685  64.437500  31.685895   73.781250  29.629687
Grass     421.142857  106.650626  67.271429  19.516564   73.214286  25.380520
Ground    437.500000  123.913081  73.781250  25.662492   95.750000  33.059087
Ice       433.458333  108.281027  72.000000  21.286861   72.750000  27.289511
Normal    401.683673  115.733038  77.275510  36.233430   73.469388  30.295862
Poison    399.142857   92.358687  67.250000  19.665019   74.678571  19.630010
Psychic   475.947368  139.026645  70.631579  28.421340   71.456140  42.309265
Rock      453.750000  108.059227  65.363636  20.833884   92.863636  35.325458
Steel     487.703704  115.420907  65.222222  16.044010   92.703704  30.388276
Water     430.455357  113.188266  72.062500  27.487026   74.151786  28.377192

             Defense               Sp. Atk               Sp. Def
                mean        std       mean        std       mean        std
Type 1
Bug        70.724638  33.617609  53.869565  26.697055  64.797101  32.126395
Dark       70.225806  25.121982  74.645161  33.200952  69.516129  24.799020
Dragon     86.375000  24.102938  96.843750  42.257360  88.843750  29.884843
Electric   66.295455  24.757033  90.022727  29.740340  73.704545  22.601275
Fairy      65.705882  18.979478  78.529412  28.548462  84.705882  29.721130
Fighting   65.925926  18.578163  53.111111  28.159345  64.703704  22.745777
Fire       67.769231  23.658200  88.980769  30.042121  72.211538  22.619908
Flying     66.250000  21.360009  94.250000  34.769479  72.500000  22.173558
Ghost      81.187500  32.551138  79.343750  32.561217  76.468750  26.038414
Grass      70.800000  24.485192  77.500000  27.244864  70.428571  21.446645
Ground     84.843750  33.786912  56.468750  28.135598  62.750000  21.267877
Ice        71.416667  34.387708  77.541667  26.604967  76.291667  37.213227
Normal     59.846939  23.771833  55.816327  23.946395  63.724490  25.142801
Poison     68.821429  21.066128  60.428571  19.322657  64.392857  19.887348
Psychic    67.684211  28.359401  98.403509  38.539340  86.280702  31.126329
Rock      100.795455  36.447209  63.340909  28.249670  75.477273  32.265965
Steel     126.370370  44.806548  67.518519  31.458606  80.629630  29.018758
Water      72.946429  27.773809  74.812500  29.030128  70.517857  28.460493

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [59]:
# Your code here:
t_test_features2(agua,no_agua)

{'hp': 0.24103213566579404,
 'Attack': 0.05871733199946693,
 'Defense': 0.7188803999552875,
 'Sp. Atk': 0.44447079317732396,
 'Sp. Def': 0.5782615337949744,
 'speed': 0.2749473649353192,
 'Total': 0.6433915385821449}

Write your conclusion below.

# Your conclusions here:

como los valores p son mayores a 0.05 que es la significancia de 95% no rechazamos Ho. segun las definiciones:
ùêª0:ùúá=0 (media de las diferencias), (no hay diferencia significativa entre las muestras)

ùêª1:ùúá‚â†0 (existe una diferencia significativa entre las muestras)

como p es casi cero rechazamos H0 por lo tanto legendario difieren mucho de los normales 
    

    Si las medias de las diferencias son, significa que no hay diferencia significativa entre los tipos de pokemon

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [60]:
# Your code here:

from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

import statsmodels.api as sm
from statsmodels.formula.api import ols

In [61]:
ttest_rel(pokemon['Defense'],pokemon['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

# Your conclusions here:
ùêª0:ùúá=0 (media de las diferencias), (no hay diferencia significativa entre las muestras)

ùêª1:ùúá‚â†0 (existe una diferencia significativa entre las muestras)

como p es casi cero rechazamos H0 por lo tanto las medias son muy similares. En este caso el ataque y la defensa son similares en cada pokemon

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [63]:
# Your code here:

ttest_rel(pokemon['Sp. Def'],pokemon['Sp. Atk'])

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

# Your conclusions here:
ùêª0:ùúá=0 (media de las diferencias), (no hay diferencia significativa entre las muestras)

ùêª1:ùúá‚â†0 (existe una diferencia significativa entre las muestras)

como p es casi 0.4  no rechazamos H0 por lo tanto las medias son muy diferentes. En este caso el ataque especial y la defensa especial son diferentes en cada pokemon

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [64]:
# Your code here:
ttest_1samp(pokemon['Attack']-pokemon['Defense'],0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

p es casi cero, por lo que rechazamos H0

Para t de student:
    
    ùêª0:ùúá=0 (media de las diferencias), (no hay diferencia significativa entre las muestras)

    ùêª1:ùúá‚â†0 (existe una diferencia significativa entre las muestras)


Si rechazamos H0, significa que las medias son diferentes. En este caso las medias de ataque y defensa de cada pokemon son diferentes

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [66]:
# Your code here:
#prueba con todos
contingencia = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'])
contingencia

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Legendary,,,,,,,,,,,,,,,,,,
False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108
True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4

In [69]:
#agrego una columna para saber si es agua
pokemon['¬øagua?']= np.where(pokemon['Type 1']=='Water',True,False)
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,¬øagua?
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,False
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,False
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,False
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,False

In [70]:
#con agua
aguacon = pd.crosstab(pokemon['Legendary'], pokemon['¬øagua?'])
aguacon

¬øagua?     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [68]:
# Your code here:
#con todos
chi2_contingency(contingencia)

(90.4204913058596,
 5.118547414721704e-12,
 17,
 array([[ 63.39375,  28.48125,  29.4    ,  40.425  ,  15.61875,  24.80625,
          47.775  ,   3.675  ,  29.4    ,  64.3125 ,  29.4    ,  22.05   ,
          90.0375 ,  25.725  ,  52.36875,  40.425  ,  24.80625, 102.9    ],
        [  5.60625,   2.51875,   2.6    ,   3.575  ,   1.38125,   2.19375,
           4.225  ,   0.325  ,   2.6    ,   5.6875 ,   2.6    ,   1.95   ,
           7.9625 ,   2.275  ,   4.63125,   3.575  ,   2.19375,   9.1    ]]))

In [71]:
#con agua

chi2_contingency(aguacon)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

# Your answer here:

para xi cuadrada:
    H0= estan relacionadas
    H1 = no estan relacionadas
    
Para este caso p es mayor de 0.5, por lo que no rechazamos H0. Por lo que pokemon de agua y legendario estan relacionados