#### 1. Import pandas library

In [1]:
import pandas as pd
import numpy as np

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
engine =create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')

#### 4. Import the users table

In [4]:
data1 = pd.read_sql_query('SELECT * FROM users', engine)

#### 5. Rename Id column to userId

In [5]:
data1.rename({'Id':'userId'}, axis=1, inplace=True)
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40325 entries, 0 to 40324
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   userId           40325 non-null  int64
 1   Reputation       40325 non-null  int64
 2   CreationDate     40325 non-null  datetime64[ns]
 3   DisplayName      40325 non-null  object
 4   LastAccessDate   40325 non-null  datetime64[ns]
 5   WebsiteUrl       8121 non-null   object
 6   Location         11691 non-null  object
 7   AboutMe          9379 non-null   object
 8   Views            40325 non-null  int64
 9   UpVotes          40325 non-null  int64
 10  DownVotes        40325 non-null  int64
 11  AccountId        40325 non-null  int64
 12  Age              8318 non-null   float64
 13  ProfileImageUrl  16479 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(6), object(5)
memory usage: 4.3+ MB

#### 6. Import the posts table.

In [6]:
data2 = pd.read_sql_query('SELECT * FROM posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
data2.rename({'Id':'postId'}, axis=1, inplace=True)
data2.rename({'OwnerUserId':'userId'}, axis=1, inplace=True)
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   postId                 91976 non-null  int64
 1   PostTypeId             91976 non-null  int64
 2   AcceptedAnswerId       14700 non-null  float64
 3   CreaionDate            91976 non-null  datetime64[ns]
 4   Score                  91976 non-null  int64
 5   ViewCount              42921 non-null  float64
 6   Body                   91756 non-null  object
 7   userId                 90584 non-null  float64
 8   LasActivityDate        91976 non-null  datetime64[ns]
 9   Title                  42921 non-null  object
 10  Tags                   42921 non-null  object
 11  AnswerCount            42921 non-null  float64
 12  CommentCount           91976 non-null  int64
 13  FavoriteCount          13246 non-null  float64
 14  LastEditorUserId       44611 non-null  float64
 15  LastEditDate           45038 non-null  datetime64[ns]
 16  CommunityOwnedDate     2467 non-null   datetime64[ns]
 17  ParentId               47755 non-null  float64
 18  ClosedDate             1610 non-null   datetime64[ns]
 19  OwnerDisplayName       2509 non-null   object
 20  LastEditorDisplayName  465 non-null    object
dtypes: datetime64[ns](5), float64(7), int64(4), object(5)
memory usage: 14.7+ MB

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [10]:
users_columns = data1[['userId', 'Reputation','Views', 'UpVotes', 'DownVotes']]
posts_columns = data2[['postId','Score', 'userId', 'ViewCount', 'CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [11]:
merged_table = users_columns.merge(posts_columns,left_on='userId', right_on='userId')

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [12]:
merged_table.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [13]:
merged_table.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [14]:
merged_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postId        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     42188 non-null  float64
 8   CommentCount  90584 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 6.9 MB

In [15]:
merged_table['ViewCount'].value_counts()

38.0       295
31.0       293
37.0       277
27.0       277
24.0       274
          ...
25962.0      1
2586.0       1
2067.0       1
4443.0       1
3940.0       1
Name: ViewCount, Length: 3654, dtype: int64

In [16]:
merged_table['CommentCount'].value_counts()

0     38051
1     14798
2     12527
3      7835
4      5560
5      3651
6      2601
7      1701
8      1198
9       835
10      552
11      357
12      270
13      173
14      127
15       83
16       75
17       54
19       28
18       24
20       14
21       12
22       12
24       12
30        5
28        4
23        4
25        3
33        3
31        2
37        2
35        2
41        2
27        2
32        1
29        1
34        1
26        1
45        1
Name: CommentCount, dtype: int64

In [17]:
merged_table.describe()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,42188.000000,90584.000000
mean,16546.764727,6282.395412,1034.245176,734.315718,33.273249,56539.080522,2.780767,556.656158,1.894650
std,15273.367108,15102.268670,2880.074012,2050.869327,134.936435,33840.307529,4.948922,2356.930779,2.638704
min,-1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-19.000000,1.000000,0.000000
25%,3437.000000,60.000000,5.000000,1.000000,0.000000,26051.750000,1.000000,53.000000,0.000000
50%,11032.000000,396.000000,45.000000,22.000000,0.000000,57225.500000,2.000000,126.000000,1.000000
75%,27700.000000,4460.000000,514.250000,283.000000,8.000000,86145.250000,3.000000,367.000000,3.000000
max,55746.000000,87393.000000,20932.000000,11442.000000,1920.000000,115378.000000,192.000000,175495.000000,45.000000

In [18]:
'''View counts are floats and the values are number half of the data is null; for example CommentCounts has min =0 and 38K values as cero, because it is a videogame I assume null values are zero views'''

'View counts are floats and the values are number half of the data is null; for example CommentCounts has min =0 and 38K values as cero, because it is a videogame I assume null values are zero views'

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [19]:
merged_table['ViewCount'].fillna(0, inplace=True)

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [20]:
merged_table.describe()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000
mean,16546.764727,6282.395412,1034.245176,734.315718,33.273249,56539.080522,2.780767,259.253400,1.894650
std,15273.367108,15102.268670,2880.074012,2050.869327,134.936435,33840.307529,4.948922,1632.261405,2.638704
min,-1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-19.000000,0.000000,0.000000
25%,3437.000000,60.000000,5.000000,1.000000,0.000000,26051.750000,1.000000,0.000000,0.000000
50%,11032.000000,396.000000,45.000000,22.000000,0.000000,57225.500000,2.000000,0.000000,1.000000
75%,27700.000000,4460.000000,514.250000,283.000000,8.000000,86145.250000,3.000000,111.000000,3.000000
max,55746.000000,87393.000000,20932.000000,11442.000000,1920.000000,115378.000000,192.000000,175495.000000,45.000000

In [23]:
outliers = merged_table.copy()

In [24]:
outliers['userId'].value_counts()

805      1720
686      1598
919      1204
11032     966
7290      827
         ...
43701       1
37554       1
35505       1
27309       1
4706        1
Name: userId, Length: 21983, dtype: int64

In [47]:
outliers.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [25]:
stats = outliers.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6282.395412,15102.268670,1.0,60.00,396.0,4460.00,87393.0,4400.00
Views,90584.0,1034.245176,2880.074012,0.0,5.00,45.0,514.25,20932.0,509.25
UpVotes,90584.0,734.315718,2050.869327,0.0,1.00,22.0,283.00,11442.0,282.00
DownVotes,90584.0,33.273249,134.936435,0.0,0.00,0.0,8.00,1920.0,8.00
postId,90584.0,56539.080522,33840.307529,1.0,26051.75,57225.5,86145.25,115378.0,60093.50
Score,90584.0,2.780767,4.948922,-19.0,1.00,2.0,3.00,192.0,2.00
ViewCount,90584.0,259.253400,1632.261405,0.0,0.00,0.0,111.00,175495.0,111.00
CommentCount,90584.0,1.894650,2.638704,0.0,0.00,1.0,3.00,45.0,3.00

In [44]:
outliers2 = pd.DataFrame(columns=outliers.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 24
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = outliers[(outliers[col] < lower) | 
                   (outliers[col] > upper)].copy()
    results['Outlier'] = col
    outliers2 = outliers2.append(results)

In [45]:
outliers2

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount,Outlier
11248,919,87393,20932,11273,779,1655,6,0.0,0,Views
11249,919,87393,20932,11273,779,1657,4,0.0,0,Views
11250,919,87393,20932,11273,779,1659,2,0.0,1,Views
11251,919,87393,20932,11273,779,1666,4,0.0,0,Views
11252,919,87393,20932,11273,779,1718,7,0.0,1,Views
...,...,...,...,...,...,...,...,...,...,...
81864,41749,19,3,0,0,90793,1,3736.0,0,ViewCount
83633,43908,384,77,18,0,25811,47,4463.0,11,ViewCount
84510,44618,128,1,0,0,21104,3,3650.0,6,ViewCount
86507,46957,213,3,1,0,101590,22,3763.0,12,ViewCount
88404,52371,221,2,0,0,27237,24,3357.0,5,ViewCount

In [48]:
'''I have to use a constant of 24 to obtain some outliers, I dont think would be necessary to drop them out'''

'I have to use a constant of 24 to obtain some outliers, I dont think would be necessary to drop them out'

In [49]:
outliers_csv = outliers2.to_csv('/Users/rube/datamex_082020/module-1/lab-data_cleaning/your-code/outliers.csv', sep=',', index=False)